<ion-view title="Busco">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form>
            <div class="list">
                <h2>¿Qué buscás?</h2>
                <ion-checkbox>DNI</ion-checkbox>
                <ion-checkbox>SUBE</ion-checkbox>
                <ion-checkbox>Tarjetas Crédito/Débito</ion-checkbox>
                <ion-checkbox>Registro de Conducir</ion-checkbox>
                <ion-checkbox>Otros</ion-checkbox>
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="¿Qué más perdiste?">
                </label>
            </div>
            <div class="list">
                <h2>Otros Datos</h2>

                <label class="item item-input">
                    <input type="text" placeholder="Nombre y Apellido">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="DNI">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="E-mail">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Teléfono">
                </label>
                <!--<label>-->
                <!--<i class="icon ion-search placeholder-icon"></i>-->
                <!--<input type="search" placeholder="¿Dónde lo perdiste?">-->
                <ion-google-place placeholder="¿Dónde lo perdiste?" ng-model="data.address" required name="address" location-changed="locationChanged"
                />
                <!--</label>-->
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-balanced">Enviar</button>
            </div>
        </form>

    </ion-content>
</ion-view>