<ion-view title="EncontraDocs">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 141px;"></div>
        <a href="#/page5" class="button button-stable button-icon button-block button-large icon ion-search">Busco</a>
        <div class="spacer" style="width: 283px; height: 22px;"></div>
        <a href="#/encontre" class="button button-stable button-icon button-block button-large icon ion-card button-full">Encontré</a>
    </ion-content>
</ion-view>