<ion-view title="Encontré">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>¿Qué Encontraste?</h2>
        <form>
            <div class="list">
                <ion-checkbox ng-model="docs.dni">DNI</ion-checkbox>
                <ion-checkbox ng-model="docs.sube">SUBE</ion-checkbox>
                <ion-checkbox ng-model="docs.tarjetas">Tarjetas Crédito/Débito</ion-checkbox>
                <ion-checkbox ng-model="docs.registro">Registro de Conducir</ion-checkbox>
                <ion-checkbox ng-model="otros.on">Otros</ion-checkbox>
                <label class="item item-input" ng-show="otros.on">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" ng-model="docs.otros" placeholder="¿Qué más encontraste? (Separado por comas) Ejemplo: Llaves, carnet obra social, monedero">
                </label>
            </div>
            <h2>Otros Datos</h2>
            <div class="list">
                <label class="item item-input">
                    <input ng-model="data.email" type="text" placeholder="E-mail (Opcional)">
                </label>
                <ion-google-place placeholder="¿Dónde lo perdiste?" ng-model="data.address" required name="address" location-changed="locationChanged"/>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-balanced">Enviar</button>
            </div>
        </form>

        <div>Crop Image and Upload</div>
        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" area-type="square" ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{croppedDataUrl}}" />
        </div>
        <button ng-click="upload(croppedDataUrl)">Submit</button>

        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    </ion-content>
</ion-view>