<ion-view title="Encontré">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h2>¿Que Encontraste?</h2>
        <form class="list">
            <ion-checkbox>DNI</ion-checkbox>
            <ion-checkbox>SUBE</ion-checkbox>
            <ion-checkbox>Tarjetas Crédito/Débito</ion-checkbox>
            <ion-checkbox>Registro de Conducir</ion-checkbox>
            <ion-checkbox>Otros</ion-checkbox>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="¿Qué más encontraste?">
            </label>
            <h2>Otros Datos</h2>
            <label class="item item-input">
                <input type="text" placeholder="E-mail (Opcional)">
            </label>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="¿Dónde lo encontraste?">
            </label>
            <button class="button button-balanced button-block ">Enviar</button>
        </form>
    </ion-content>
</ion-view>